@import "_variables.scss";

.regular-text {
  font-size: 48px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: $color-toupe;
}

.semibold-text {
  font-size: 22px;
  font-weight: $almost-bold;
  line-height: 1.45;
  text-align: center;
}