$color-toupe: #cfb995;
$color-macaroni-and-cheese: #f3a536;
$color-dodger-blue: #36aef3;


//greens
$color-tea: #68b680;
$color-light-forest-green: #46915d;

//reds
$color-lightish-red: #ff3750;
$color-faded-red: #ce2c40;
$color-tomato: #f33636;

//whites
$color-white: #ffffff;
$color-white-two: #f9f9f9;
$color-white-three: #ecebe9;

//blacks
$color-black: #000;
$color-black-two: #303030;
$color-black-three: #313131;

//font-weights
$almost-bold: 600;